:root {
  --main-font: font-family: "DynaPuff", serif;
  --second-font: font-family: "Unkempt", serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-style: normal;
  }

  #Root {
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 70px 1fr;
    min-height: 100vh;
  }
